body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "MrsSaintDelafield";
  font-weight: regular;
  src: local("MrsSaintDelafield"), 
    url("../resources/fonts/MrsSaintDelafield/MrsSaintDelafield-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "Meddon";
  font-weight: regular;
  src: local("Meddon"),
    url("../resources/fonts/meddon/Meddon.ttf") format("truetype");
}
